.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}

.search-form {
  min-height:15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  background-color:#ebe9e370;
}

.search-button {
  background: #ebe9e370;
  border: none;
  padding: 10px 20px;
}

.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h2 {
  color: #968d74d0;
  padding-top: 30px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}